[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logging-plus = "*"
"rpi.gpio" = "*"
adafruit-blinka = "*"
adafruit-circuitpython-dht = "*"
adafruit-circuitpython-bme280 = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pipenv-setup = "*"
pipenv = "*"
vistir = "==0.6.1"

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
